html,
body {
  background-color: black;
  color: aliceblue;
}

.products {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

img {
  width: 180px;
  height: 200px;
}

.cart {
  background-color: #000;
  display: none;
  padding: 32px;
  position: fixed;
  right: 0px;
  top: 0px;
  width: 200px;
}

.cart-button {
  position: absolute;
  right: 8px;
  top: 8px;
  transition: all 0.3s ease;
  width: 32px;
  z-index: 999;
}

.cart-button ~ input:checked ~ .cart {
  height: 100%;
  display: block;
}
